body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.letter {display: inline}
.red { color: red }
.green {color: green}
.black {color: black}

.logo { margin: 0}

.hub {
  background-color: #f19d39;
  border-radius: 5px;
}

.russie-background {
  background-image: url("../images/wallpaper_4.jpg");
}

.russie-background div {
  width: 50%;
  margin: auto 45%;
}

.letter-button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  padding: 0;
}