#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#question {
    margin-left: -10%;
}

#heros {
    width: 150px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.clickable-text {
    width: 40%;
    margin-left: 25%;
}