.not-website {
    text-align: center;
    font-size: 2rem;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#heros {
    width: 150px;
    position: fixed;
    bottom: 150px;
    left: 20%;
}

.story {
    font-size: 30px;
    margin-top: -10px;
}

#bad-answer {
    position: fixed;
    top: 65%;
    left: 42%;
}

letter-button {
    color: white;
}