.red { color: red }
.green {color: green}
.black {color: black}

body{
    background: #000;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.hub {
    background-color: #f19d39;
    border-radius: 5px;
  }